body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 2em;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}
